* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
list-style: none;
}

body {
  display: block;
  max-width: 1920px;
  font-family: "Gordita Medium", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gordita Medium", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Gordita Regular", Arial, Helvetica, sans-serif;
}

a {
  font-family: "Gordita Medium", Arial, Helvetica, sans-serif;
  text-decoration: none;
}


